<nav id = "nav2">
  <nav id = "nav2-wrapper">
          <ul>
      
          </ul>
        </nav>  
  </nav>

<section class="registration" >
	<br/>
		<div class="form-info">
			
		<div class="avtar">
		<img src="http://www.sim-only.co.uk/images/cms/sim-card.png" />
			<h10 id = "thisCounts">ThisCounts</h10>
		<br/>
			</div>
	<div >
	<form >
		<br/>


						
<input id = "inputEmail" type="text" class="text" value="Email" ng-model="email" placeholder ="Email" >
<br/>


<input type="password" value="Password" ng-model="myPassword" placeholder ="Password">




 	<a id = "btnSignin" ng-click="login()" class="button">SIGNIN <i class="icon-chevron-right"></i></a>
				
		<a href="#/registerMember" class="button">REGISTER <i class="icon-chevron-right"></i></a>

	</form>	
			
		
	</div>
	
	</div>
</section>

	
