<nav id = "nav2">
    
  <nav id = "nav2-wrapper">
        
           <img onclick="history.go(-1)" id ="imgback" src ="http://i.stack.imgur.com/SKtqE.png" />
             
        </nav>  
  </nav>

<br/>
<br/>
<section class="registration" >
<div class="avtar6">
		<img id = "img1" src="http://www.ictechsolutions.co.uk/image/default_thumb.jpg" />
</div>	
    
    <br/>
    <br/>

<input id = "inputPassword" type="text" class="text" value="password" ng-model="myPassword" placeholder ="Password" >
<input id = "" type="text" class="text" value="Email" ng-model="email" placeholder ="Email" >
<input id = "inputSurname" type="text" class="text" value="Surname" ng-model="surname" placeholder ="Surname" >

<br/>
<br/>
<a  class="button" >MAKE UPDATE<i class="icon-chevron-right"></i></a>
</section>