<nav id = "nav2">
  <nav id = "nav2-wrapper">
          <ul>
       <img onclick="history.go(-1)" id ="imgback" src ="http://i.stack.imgur.com/SKtqE.png" />
          </ul>
        </nav>  
  </nav>

 <section class="registration">
	 
<div>
<br/>
<div class="form-info">
					
	
<input type="text" class="text" value="Firstname" ng-model="firstname" placeholder ="Firstname">
<input type="text" class="text" value="Surname" ng-model="surname" placeholder="Surname" >

<input type="text" class="text" value="Email" ng-model="email" placeholder="email" >
<input type="text" class="text" value="Cellphone Number" ng-model="cellphone" placeholder ="Cellphone" >

<input type="text" class="text" value="myPassword" ng-model="myPassword" placeholder="myPassword" >
<br/>

 

	<a  id = "btnSignin" href="#/login" ng-click ="registerUserNonAccount()" class="button">REGISTER <i class="icon-chevron-right"></i></a>	

		</form>

	<div class="avtar2">
		<img id = "img1" src="https://www.colourbox.com/preview/3272480-sim-card-in-the-form-of-little-people.jpg" />
		</div>	
	</div>

		

</section>