<nav id = "nav2">
  <nav id = "nav2-wrapper">
          <ul>
       <img onclick="history.go(-1)" id ="imgback" src ="http://i.stack.imgur.com/SKtqE.png" />
          </ul>
        </nav>  
  </nav>

  	<br/>
  		<br/>

<section class="registration">

	<div>

		<div class="form-info">
	
		<input type="text" class="text" value="AccountNr" ng-model="accountNr" placeholder="Account Number"> 
		<input type="password" value="Password"  ng-model="bankPassword" placeholder="Password">

		<br/>		

		<a  id = "btnSignin" ng-click ="registerAccount()" class="button">REGISTER<i class="icon-chevron-right"></i></a>	
			<h1>Don't have a bank account?</h1>
			<a href="#/registerNew" class="button">CREATE ACCOUNT<i class="icon-chevron-right"></i></a>			

		<br/>
            <br/>
		<div class="avtar2">
		<img id = "img1" src="https://www.colourbox.com/preview/3272480-sim-card-in-the-form-of-little-people.jpg" />
		</div>	
			
		</div>
	</div>			
</section>